body{
	background-image: url("background.jpg");
}
.container{
	padding: 20px;
	padding-left: 70px;
	padding-right: 70px;
	background-color: rgb(223,217,217);
	border: 2px solid #b5babb;
	border-radius: 10px;
}